<?xml version="1.0" encoding="UTF-8" ?>

<!-- @generated-by jira-dev-pipeline @generated-ticket=SCRUM-13 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.spring.mapper.GeneratedResourceMapper">

<select id="getSamplePing" parameterType="io.spring.dto.GeneratedResourceRequest" resultType="io.spring.dto.GeneratedResourceResponse">
    /* TODO: implement query for GET /sample/ping */
    SELECT #{ticketId} AS ticketId
</select>

</mapper>
